{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                    <h4>Hello Tonny</h4>
    <ul>
        
        {%  for customer in customers %}
        <li>    {{ customer.name }} </li>
        {% endfor %}
        
    </ul>
    <form method="post" action="" class="form">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="SEND" class="btn btn-success btn-lg"/>
    </form>
            </div>
            <div class="col-md-6">
                hello
            </div>
        </div>
        
            
    </div>
    
</body>
</html>